.input_container {
  padding: 0 0.5em;
  border-radius: 3px;
  border-bottom: 3px solid gray;
}

.input_container,
.my_input {
  background-color: black;
  color: gray;
  font-size: 1.125rem;
}

.my_input {
  border: none;
  outline: none;
  outline: 0;
  border-bottom: 3px;
  border-color: gray;
  color: white;
}

.input_container label {
  display: block;
  font-size: 1rem;
}

.input_container:focus-within {
  border-bottom: 3px solid lightblue;
}

.input_container:focus-within label {
  color: lightblue;
}
